/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
  padding-top: 75px;
}
footer {
  padding: 30px 0;
}

#sidebar .nav li a {
  padding: 4px 8px 4px 8px;
  font-size: 13px;
}

.header-thumbnail {
    margin-top: -0.8em;
    margin-bottom: -0.7em;
    height: 2.5em;
}

.topspace {
    margin-top: 4px;
}

.shrink-row {
  margin-top: -12px;
  margin-bottom: -14px;
}

.justified {
  text-align: justify;
}

.flexible-container {
    position: relative;
    padding-bottom: 45.00%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.flexible-container iframe,
.flexible-container object,
.flexible-container embed {
    position: absolute;
    top: 0;
    left: 10%;
    width: 80%;
    height: 100%;
    border-radius: 8px;
    -o-border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

.nav-icon-hover-name > li .nav-target-name {
    display: none;
}

.nav-icon-hover-name > li:hover .nav-target-name {
    display: inline;
}

.news-event span:first-child {
    width: 52px;
    font-size: 0.9em;
    display: inline-block;
    font-weight: bold;
}

.news-event {
    margin-bottom: 8px;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px; /* or 950px */
}

.navbar-inverse {
    background-color: #267773;
    border-color: #107773;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: #0c6777;
}

.text-success {
  color: #267773;
}

.text-success:hover {
  color: #267773;
}